/* @font-face {
    font-family: 'Shilla';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureM-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Shilla';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
} */

/* @import url('https://cdn.jsdelivr.net/gh/MonadABXY/mona-font/web/mona.css'); */


.vujahday-script-regular {
  font-family: "Vujahday Script", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: 'Vujahday Script', sans-serif;
}


